<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Tin tức", '#' %></li>
      <li><%= link_to "Giới thiệu",   '#' %></li>
      <li><%= link_to "Liên hệ", '#' %></li>
    </ul>
  </nav>
</footer>